{% extends "@Secret/SecretView/bootstrap.html.twig" %}

{% block body %}
    {#<a href="{{ asset('usersPictures/' ~ photo) }}">View user photo</a>#}
    <img src="{{ asset('usersPictures/' ~ photo) }}" alt="alt" width="300px" height="300px" />


    <div>
        <a href="{{ path('welcomePage') }}" class="btn btn-default">Wróć do strony głównej</a>
    </div>

{% endblock %}