{% extends "@Secret/SecretView/bootstrap.html.twig" %}

{% block body %}

    <div>
        <button name='beltPromotion' type='submit' value='beltPromotion' class='btn btn-default'>Promuj użytkownika</button>
        <a href="{{ path('welcomePage') }}" class="btn btn-default">Wróć do strony głównej</a>
    </div>

{% endblock %}